.flute {
    position: absolute;
    top: 170px;
    margin-left: 150px;
    width: 600px;
    height: 70px;
    border: solid 5px rgb(200, 110, 18);
    background: darkgoldenrod
   
}

.key1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 200px;
}

.key2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 280px;
}

.key3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 360px;
}

.key4 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 440px;
}

.key5 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 520px;
}


.center-flute {
    position: absolute;
    width: 25px;
    height: 68px;
    background-color: saddlebrown;
    margin-top: 155px;
    margin-left: 600px;
}

.first-hole {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 176px;
    margin-left: 670px;
}

